aws_region              = "us-east-1"
environment             = "prod"
project_name            = "rag-llmops-aws"
db_username             = "postgresadmin"
db_password             = "ChangeMeStrongPassword2026!"
bedrock_llm_model       = "anthropic.claude-3-5-sonnet-20240620-v1:0"
bedrock_embedding_model = "amazon.titan-embed-text-v2:0"
langfuse_public_key     = "pk-lf-..."
langfuse_secret_key     = "sk-lf-..."
